In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
df = pd.read_csv("milan_airbnb.csv")

In [135]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.832200e+04,1.832200e+04,18322.000000,18322.000000,18322.000000,18322.000000,18322.000000,13260.000000,18322.000000,18322.000000
mean,2.587132e+07,8.494918e+07,45.471318,9.187382,115.094913,5.798112,23.720827,0.799344,14.421897,153.508624
std,1.525744e+07,1.040579e+08,0.020731,0.029543,290.793019,26.687720,57.657486,1.220346,46.295635,138.757302
min,6.400000e+03,1.944000e+03,45.395050,9.060680,8.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.214067e+07,1.243642e+07,45.454462,9.168782,50.000000,1.000000,0.000000,0.100000,1.000000,0.000000
50%,2.588718e+07,3.141304e+07,45.470875,9.186291,73.500000,2.000000,3.000000,0.310000,1.000000,123.000000
75%,3.926758e+07,1.335227e+08,45.486850,9.209680,110.000000,3.000000,19.000000,0.990000,4.000000,302.000000
max,5.095505e+07,4.117208e+08,45.539850,9.275280,11999.000000,1124.000000,896.000000,13.710000,314.000000,365.000000

In [136]:
df.isnull().sum()

id                                   0
name                                10
host_id                              0
host_name                          124
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       5062
reviews_per_month                 5062
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [36]:
last_review_mode = df["last_review"].mode()[0]
df["last_review"].fillna(last_review_mode, inplace=True)

In [37]:
reviews_por_noche_mean = df["reviews_per_month"].mean()
df["reviews_per_month"].fillna(reviews_por_noche_mean, inplace=True)

In [139]:
df.isnull().sum()

id                                  0
name                               10
host_id                             0
host_name                         124
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                         0
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
dtype: int64

In [38]:
df.drop(["host_id", "name","host_name", "id", "last_review"], axis=1, inplace=True)

In [65]:
df.head(5)

,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,TIBALDI,45.44119,9.17813,Private room,100,4,12,0.14,1,358
1,NAVIGLI,45.44806,9.17373,Entire home/apt,150,1,15,0.21,1,363
2,SARPI,45.47647,9.17359,Private room,180,1,8,0.11,1,365
3,VIALE MONZA,45.52014,9.22300,Entire home/apt,75,2,15,0.23,3,200
4,VIALE MONZA,45.51874,9.22495,Entire home/apt,71,2,29,0.71,3,308

In [39]:
#Quitamos outliers

df = df[(df["price"]<300)]
df = df[df["minimum_nights"] < 40 ]

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17175 entries, 0 to 18321
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood                   17175 non-null  object
 1   latitude                        17175 non-null  float64
 2   longitude                       17175 non-null  float64
 3   room_type                       17175 non-null  object
 4   price                           17175 non-null  int64
 5   minimum_nights                  17175 non-null  int64
 6   number_of_reviews               17175 non-null  int64
 7   reviews_per_month               17175 non-null  float64
 8   calculated_host_listings_count  17175 non-null  int64
 9   availability_365                17175 non-null  int64
dtypes: float64(3), int64(5), object(2)
memory usage: 1.4+ MB

In [40]:
X = df.drop("price", axis=1)
y = df["price"]

In [25]:
X.head()

,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,TIBALDI,45.44119,9.17813,Private room,4,12,19/04/10,0.14,1,358
1,NAVIGLI,45.44806,9.17373,Entire home/apt,1,15,07/09/20,0.21,1,363
2,SARPI,45.47647,9.17359,Private room,1,8,22/04/12,0.11,1,365
3,VIALE MONZA,45.52014,9.22300,Entire home/apt,2,15,01/07/18,0.23,3,200
4,VIALE MONZA,45.51874,9.22495,Entire home/apt,2,29,23/10/16,0.71,3,308

In [19]:
y.head()

0    100
1    150
2    180
3     75
4     71
Name: price, dtype: int64

In [41]:
categoricas = ["neighbourhood", "room_type"]
numericas =["minimum_nights", "number_of_reviews", "latitude", "longitude", "reviews_per_month", "calculated_host_listings_count", "availability_365"]

In [42]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [43]:

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [44]:
X = transformer.fit_transform(X).toarray()

In [30]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__minimum_nights,transformer_numerico__number_of_reviews,transformer_numerico__latitude,transformer_numerico__longitude,transformer_numerico__reviews_per_month,transformer_numerico__calculated_host_listings_count,transformer_numerico__availability_365,transformer_categorico__neighbourhood_ADRIANO,transformer_categorico__neighbourhood_AFFORI,transformer_categorico__neighbourhood_BAGGIO,...,transformer_categorico__neighbourhood_UMBRIA - MOLISE,transformer_categorico__neighbourhood_VIALE MONZA,transformer_categorico__neighbourhood_VIGENTINA,transformer_categorico__neighbourhood_VILLAPIZZONE,transformer_categorico__neighbourhood_WASHINGTON,transformer_categorico__neighbourhood_XXII MARZO,transformer_categorico__room_type_Entire home/apt,transformer_categorico__room_type_Hotel room,transformer_categorico__room_type_Private room,transformer_categorico__room_type_Shared room
0,0.078947,0.013393,0.318646,0.547297,0.009489,0.000000,0.980822,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.000000,0.016741,0.366091,0.526794,0.014599,0.000000,0.994521,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.000000,0.008929,0.562293,0.526142,0.007299,0.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.026316,0.016741,0.863881,0.756384,0.016058,0.006390,0.547945,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.026316,0.032366,0.854213,0.765471,0.051095,0.006390,0.843836,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17170,0.000000,0.000000,0.642572,0.633232,0.057616,0.003195,0.947945,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17171,0.052632,0.000000,0.402901,0.747810,0.057616,0.000000,0.838356,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17172,0.026316,0.000000,0.512272,0.403346,0.057616,0.188498,0.983562,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17173,0.078947,0.000000,0.609018,0.551916,0.057616,0.000000,0.032877,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17174,0.026316,0.000000,0.567343,0.551197,0.057616,0.003195,0.980822,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Entrenamiento

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [46]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [47]:
def train_evaluate(nombre_modelo, modelo):
    mod = modelo()
    mod.fit(X_train, y_train)
    
    y_predict = mod.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_predict)
    mse = mean_squared_error(y_test, y_predict)
    rmse = mean_squared_error(y_test, y_predict, squared=False)
    r2 = r2_score(y_test, y_predict)
    
    y_pred_train =mod.predict(X_train) 
    
    mae_train = mean_absolute_error(y_train,y_pred_train) 
    mse_train = mean_squared_error(y_train,y_pred_train)
    rmse_train = mean_squared_error(y_train,y_pred_train, squared=False)
    r2_train = r2_score(y_train,y_pred_train)
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae}")
    print(f"MSE: {mse}")
    print(f"RMSE: {rmse}")
    print(f"R2: {r2}")
    print()      
    
     
    print()
    print(f"MAE train: {mae_train}")
    print(f"MSE train: {mse_train}")
    print(f"RMSE train: {rmse_train}")
    print(f"R2 train: {r2_train}")
    print()

In [48]:
train_evaluate("LinearRegression", LinearRegression)

LinearRegression

MAE: 34.903268004774105
MSE: 2336.865345457847
RMSE: 48.34113512794096
R2: 0.17139072232000407


MAE train: 33.82626785575654
MSE train: 2209.9149512033378
RMSE train: 47.00973251576037
R2 train: 0.17707831562983356

In [49]:
train_evaluate("DecisionTreeRegressor", DecisionTreeRegressor)

DecisionTreeRegressor

MAE: 42.54357501423175
MSE: 3920.1545624960463
RMSE: 62.61113768728409
R2: -0.390014382616203


MAE train: 0.012542159425165402
MSE train: 0.20647120220134738
RMSE train: 0.4543910234603533
R2 train: 0.9999231148558921

In [50]:
train_evaluate("SVR", SVR)

SVR

MAE: 32.986890553747514
MSE: 2660.760073511634
RMSE: 51.58255590324731
R2: 0.056543635739401577


MAE train: 31.819518215111543
MSE train: 2501.7863336438418
RMSE train: 50.01786014659005
R2 train: 0.06839210147186237

In [51]:
train_evaluate("KNeighborsRegressor", KNeighborsRegressor)

KNeighborsRegressor

MAE: 36.392594317652545
MSE: 2553.864788076385
RMSE: 50.5357773075312
R2: 0.09444672905372542


MAE train: 28.69906063193851
MSE train: 1603.624485676578
RMSE train: 40.04528044197691
R2 train: 0.40284699095246435

In [52]:
train_evaluate("RandomForestRegressor", RandomForestRegressor)

RandomForestRegressor

MAE: 32.50747867594872
MSE: 2087.0820670285784
RMSE: 45.68459332235079
R2: 0.2599592580801451


MAE train: 11.797736321191381
MSE train: 285.18611856926594
RMSE train: 16.887454472751834
R2 train: 0.8938032249050039