In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
df = pd.read_csv("milan_airbnb.csv")

In [4]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.832200e+04,1.832200e+04,18322.000000,18322.000000,18322.000000,18322.000000,18322.000000,13260.000000,18322.000000,18322.000000
mean,2.587132e+07,8.494918e+07,45.471318,9.187382,115.094913,5.798112,23.720827,0.799344,14.421897,153.508624
std,1.525744e+07,1.040579e+08,0.020731,0.029543,290.793019,26.687720,57.657486,1.220346,46.295635,138.757302
min,6.400000e+03,1.944000e+03,45.395050,9.060680,8.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.214067e+07,1.243642e+07,45.454462,9.168782,50.000000,1.000000,0.000000,0.100000,1.000000,0.000000
50%,2.588718e+07,3.141304e+07,45.470875,9.186291,73.500000,2.000000,3.000000,0.310000,1.000000,123.000000
75%,3.926758e+07,1.335227e+08,45.486850,9.209680,110.000000,3.000000,19.000000,0.990000,4.000000,302.000000
max,5.095505e+07,4.117208e+08,45.539850,9.275280,11999.000000,1124.000000,896.000000,13.710000,314.000000,365.000000

In [6]:
df.isnull().sum()

id                                   0
name                                10
host_id                              0
host_name                          124
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       5062
reviews_per_month                 5062
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [36]:
df.drop(["host_id", "name","host_name", "id"], axis=1, inplace=True)

In [16]:
df.head(5)

,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,TIBALDI,45.44119,9.17813,Private room,100,4,12,19/04/10,0.14,1,358
1,NAVIGLI,45.44806,9.17373,Entire home/apt,150,1,15,07/09/20,0.21,1,363
2,SARPI,45.47647,9.17359,Private room,180,1,8,22/04/12,0.11,1,365
3,VIALE MONZA,45.52014,9.22300,Entire home/apt,75,2,15,01/07/18,0.23,3,200
4,VIALE MONZA,45.51874,9.22495,Entire home/apt,71,2,29,23/10/16,0.71,3,308

In [37]:
last_review_mode = df["last_review"].mode()[0]
df["last_review"].fillna(last_review_mode, inplace=True)

In [38]:
reviews_por_noche_mean = df["reviews_per_month"].mean()
df["reviews_per_month"].fillna(reviews_por_noche_mean, inplace=True)

In [19]:
df.isnull().sum()

neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [39]:
X = df.drop("price", axis=1)
y = df["price"]

In [25]:
X.head()

,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,TIBALDI,45.44119,9.17813,Private room,4,12,19/04/10,0.14,1,358
1,NAVIGLI,45.44806,9.17373,Entire home/apt,1,15,07/09/20,0.21,1,363
2,SARPI,45.47647,9.17359,Private room,1,8,22/04/12,0.11,1,365
3,VIALE MONZA,45.52014,9.22300,Entire home/apt,2,15,01/07/18,0.23,3,200
4,VIALE MONZA,45.51874,9.22495,Entire home/apt,2,29,23/10/16,0.71,3,308

In [19]:
y.head()

0    100
1    150
2    180
3     75
4     71
Name: price, dtype: int64

In [44]:
categoricas = ["neighbourhood", "room_type", "last_review"]
numericas =["minimum_nights", "number_of_reviews", "latitude", "longitude", "reviews_per_month", "calculated_host_listings_count", "availability_365"]

In [41]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [45]:

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [46]:
X = transformer.fit_transform(X).toarray()

In [47]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__minimum_nights,transformer_numerico__number_of_reviews,transformer_numerico__latitude,transformer_numerico__longitude,transformer_numerico__reviews_per_month,transformer_numerico__calculated_host_listings_count,transformer_numerico__availability_365,transformer_categorico__neighbourhood_ADRIANO,transformer_categorico__neighbourhood_AFFORI,transformer_categorico__neighbourhood_BAGGIO,...,transformer_categorico__last_review_31/10/18,transformer_categorico__last_review_31/10/19,transformer_categorico__last_review_31/10/20,transformer_categorico__last_review_31/12/12,transformer_categorico__last_review_31/12/15,transformer_categorico__last_review_31/12/16,transformer_categorico__last_review_31/12/17,transformer_categorico__last_review_31/12/18,transformer_categorico__last_review_31/12/19,transformer_categorico__last_review_31/12/20
0,0.002671,0.013393,0.318646,0.547297,0.009489,0.000000,0.980822,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.016741,0.366091,0.526794,0.014599,0.000000,0.994521,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.008929,0.562293,0.526142,0.007299,0.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000890,0.016741,0.863881,0.756384,0.016058,0.006390,0.547945,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000890,0.032366,0.854213,0.765471,0.051095,0.006390,0.843836,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18317,0.001781,0.000000,0.402901,0.747810,0.057616,0.000000,0.838356,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18318,0.000890,0.000000,0.512272,0.403346,0.057616,0.188498,0.983562,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18319,0.000000,0.000000,0.588278,0.646626,0.057616,0.000000,0.893151,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18320,0.002671,0.000000,0.609018,0.551916,0.057616,0.000000,0.032877,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18321,0.000890,0.000000,0.567343,0.551197,0.057616,0.003195,0.980822,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Entrenamiento

In [48]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [49]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [50]:
def train_evaluate(nombre_modelo, modelo):
    mod = modelo()
    mod.fit(X_train, y_train)
    
    y_predict = mod.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_predict)
    mse = mean_squared_error(y_test, y_predict)
    rmse = mean_squared_error(y_test, y_predict, squared=False)
    r2 = r2_score(y_test, y_predict)
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae}")
    print(f"MSE: {mse}")
    print(f"RMSE: {rmse}")
    print(f"R2: {r2}")
    print()

In [51]:
train_evaluate("LinearRegression", LinearRegression)

LinearRegression

MAE: 633520223286.8685
MSE: 5.120516234682125e+25
RMSE: 7155778248857.44
R2: -5.663566678971617e+20

In [52]:
train_evaluate("DecisionTreeRegressor", DecisionTreeRegressor)

DecisionTreeRegressor

MAE: 81.0774100381173
MSE: 118982.12657309778
RMSE: 344.9378590023104
R2: -0.31600638796610037

In [53]:
train_evaluate("SVR", SVR)

SVR

MAE: 62.525436940888746
MSE: 90905.53324583877
RMSE: 301.5054448029733
R2: -0.0054641474195817885

In [54]:
train_evaluate("KNeighborsRegressor", KNeighborsRegressor)

KNeighborsRegressor

MAE: 82.16673215455141
MSE: 92565.27737175289
RMSE: 304.2454229265461
R2: -0.023821811171290674