In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
i

In [21]:
df = pd.read_csv("milan_airbnb.csv")

In [4]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.832200e+04,1.832200e+04,18322.000000,18322.000000,18322.000000,18322.000000,18322.000000,13260.000000,18322.000000,18322.000000
mean,2.587132e+07,8.494918e+07,45.471318,9.187382,115.094913,5.798112,23.720827,0.799344,14.421897,153.508624
std,1.525744e+07,1.040579e+08,0.020731,0.029543,290.793019,26.687720,57.657486,1.220346,46.295635,138.757302
min,6.400000e+03,1.944000e+03,45.395050,9.060680,8.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.214067e+07,1.243642e+07,45.454462,9.168782,50.000000,1.000000,0.000000,0.100000,1.000000,0.000000
50%,2.588718e+07,3.141304e+07,45.470875,9.186291,73.500000,2.000000,3.000000,0.310000,1.000000,123.000000
75%,3.926758e+07,1.335227e+08,45.486850,9.209680,110.000000,3.000000,19.000000,0.990000,4.000000,302.000000
max,5.095505e+07,4.117208e+08,45.539850,9.275280,11999.000000,1124.000000,896.000000,13.710000,314.000000,365.000000

In [6]:
df.isnull().sum()

id                                   0
name                                10
host_id                              0
host_name                          124
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       5062
reviews_per_month                 5062
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [22]:
df.drop(["host_id", "name","host_name", "id"], axis=1, inplace=True)

In [13]:
df.head(5)

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,TIBALDI,Private room,100,4,12,19/04/10,0.14,1,358
1,NAVIGLI,Entire home/apt,150,1,15,07/09/20,0.21,1,363
2,SARPI,Private room,180,1,8,22/04/12,0.11,1,365
3,VIALE MONZA,Entire home/apt,75,2,15,01/07/18,0.23,3,200
4,VIALE MONZA,Entire home/apt,71,2,29,23/10/16,0.71,3,308

In [23]:
last_review_mode = df["last_review"].mode()[0]
df["last_review"].fillna(last_review_mode, inplace=True)

In [24]:
reviews_por_noche_mean = df["reviews_per_month"].mean()
df["reviews_per_month"].fillna(reviews_por_noche_mean, inplace=True)

In [16]:
df.isnull().sum()

neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [25]:
X = df.drop("price", axis=1)
y = df["price"]

In [18]:
X.head()

,neighbourhood,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,TIBALDI,Private room,4,12,19/04/10,0.14,1,358
1,NAVIGLI,Entire home/apt,1,15,07/09/20,0.21,1,363
2,SARPI,Private room,1,8,22/04/12,0.11,1,365
3,VIALE MONZA,Entire home/apt,2,15,01/07/18,0.23,3,200
4,VIALE MONZA,Entire home/apt,2,29,23/10/16,0.71,3,308

In [19]:
y.head()

0    100
1    150
2    180
3     75
4     71
Name: price, dtype: int64

In [26]:
categoricas = ["neighbourhood", "roomtype", "last_review", "fuelType"]
numericas =["minimum_nights", "number_of_reviews", "latitude", "longitude" "reviews_per_month", "calculated_host_listing_count", "availability_365"]

In [29]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

ModuleNotFoundError: No module named 'sklearn'

In [27]:

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

ModuleNotFoundError: No module named 'sklearn'